<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пополнение баланса</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div th:insert="~{fragments/logout_fragments::header}"></div>
<div data-th-if="${error}">
    <h2>Укажите баланс</h2>
    <ul>
        <li data-th-text="${error}"></li>
    </ul>
</div>

<!-- Форма для пополнения баланса -->
<form id="balanceForm" method="post" data-th-action="@{/client/balance}">
    <label>
        Сумма:<br>
        <input type="text" id="balanceInput" name="balance" data-th-value="${payload?.balance}">
    </label><br>
    <button type="submit">Пополнить</button>
</form>

<!-- Блок для отображения ошибки -->
<div id="errorMessage" style="color: red; display: none;">
    Пожалуйста, введите число больше 0.
</div>

<script>
    // Функция для проверки введенного значения
    function validateBalance(event) {
        // Получаем значение из поля ввода
        const balanceInput = document.getElementById('balanceInput');
        const value = parseFloat(balanceInput.value);

        // Проверяем, является ли значение числом и больше ли оно 0
        if (isNaN(value) || value <= 0) {
            // Показываем сообщение об ошибке
            document.getElementById('errorMessage').style.display = 'block';
            // Отменяем отправку формы
            event.preventDefault();
        } else {
            // Скрываем сообщение об ошибке, если оно было показано ранее
            document.getElementById('errorMessage').style.display = 'none';
        }
    }

    // Назначаем функцию validateBalance на событие отправки формы
    document.getElementById('balanceForm').addEventListener('submit', validateBalance);
</script>
</body>
</html>